# Ignore everything by default
*

# Except these files/folders:
!.gitignore
!package.json
!package-lock.json
!vite.config.js
!README.md
!index.html
!eslint.config.js

# Allow folders:
!src/
!public/

# Ignore logs/debug files
logs
npm-debug*
yarn-debug*
yarn-error*
pnpm-debug*
lerna-debug*

# Ignore output
node_modules/
dist/
dist-ssr/
*.local

# Editor and system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
